/*FontsDONE*/
@font-face {
    font-family: ultra;
    src: url(../fonts/serif/ultra-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/serif/robotoslab-regular.ttf);
    font-weight: normal;
    font-style:normal;
}
@font-face {
    font-family: rozhaone;
    src: url(../fonts/serif/rozhaone-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: josefinslab;
    src: url(../fonts/serif/josefinslab-regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: opensans;
    src: url(../fonts/sans-serif/opensans-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: lato;
    src: url(../fonts/sans-serif/lato-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/sans-serif/montserrat-regular.ttf);
    font-style: normal;
    font-weight: normal;
}
/* typography */

p {
    font-family: lato, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: roboto, 'Times New Roman', serif;
    letter-spacing: 0.0325rem;
}

.highlight {
    font-family: rozhaone, Georgia, serif;
    font-size: 5rem;
    display: inline-block;
    color:beige;
    border: solid black;
    padding: 0 1rem 0 1rem;
    border-radius: 0.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: red;
    box-shadow: 5px 5px 4px -1px #888
}

button {
    font-family: rozhaone, Georgia, 'Times New Roman', serif;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    border: black solid;
    border-radius: .5rem .5rem .5rem .5rem;
    box-shadow: 5px 5px 4px -1px #888;
    padding: .65rem 1rem .65rem 1rem;
    margin: 1rem;
}

h1 {
    font-family: josefinslab, Arial, serif;
    letter-spacing: .125rem;
    font-size: 3.5rem;
    margin: 2.5rem;
    text-align: center;
    transform: rotate(-7deg);
    padding: 0 0 2rem 0;
}
h2 {
    padding: 1.75rem 0 0 0 ;
}

.expand {
    font-size: .3rem;
    text-decoration: none;
    padding-left: .125rem;
}

.datetime {
    font-size: .75rem;
    font-style: italic;
}

/*general setup*/
* {
    box-sizing: border-box;}

html {
    font-size: 1.125rem;
}

body {
    margin: 1rem auto;
    width:90%;
    min-width:56.25rem;
}

nav{
    border-top: solid black .125rem;
    border-bottom: solid black .125rem;
    font-size:2rem;
    word-spacing: 3rem;
    padding: 1.5rem 0rem 1.5rem 0rem;
   }

nav a{
    text-decoration: none;
}

a {
    outline: none;
}

a:link {
    color: #33658A;
}
a:visited {
    color: #33658A;
}

a:focus {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
   }
/* layout*/
.main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
    }

header {
    padding: 0.0325rem 0 1rem 0;
}
article {
    grid-column: 1 / 2;
    grid-row: 1;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: .15rem solid black;
    padding-left: 1.5rem;
}

aside p {
    border-bottom: .125rem solid black;
    padding-bottom: 1.5rem;
}

aside {
    font-size: .75rem;
}

.subsection {
    display:flex
}

/* images and figures */
img {
    width:100%;
}

figure {
    margin:0px;
}

.article-image {
    width: 40%;
    float: left;
    margin-right: 1rem;
}

.subsection {
    margin: 1rem 0rem;
}
.subsection figure {
    margin: 0rem 0.5rem;
    background-color: bisque;
}

.subsection figure figcaption {
    padding: 0.5rem 0.5rem; 
}

aside figure{
    width: 70%;
    background-color: bisque;
}

a {
    outline: none;
}

a:link {
    color: #33658A;
}
a:visited {
    color: #33658A;
}

a:focus {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
   }

footer {
    padding-top: 4rem;
}
footer p {
    text-align: left;
    font-size: .75rem;
}

footer figcaption p {
    text-align: right;
    font-size: .75rem;
}

